

.calendar {
    background-color: white;
}

.weekly-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.week {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
}

.completed {
    background-color: #8B5CF6;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.not-completed {
    background-color: #f8f9fa;
    border: 2px solid white;
    border-radius: 20px;
}

.heat-1 { 
    background-color: #e9d5ff;
    color: white;
    border: 2px solid white;
    border-radius: 20px; 
}

.heat-2 { 
    background-color: #c084fc;
    color: white;
    border: 2px solid white;
    border-radius: 20px; 
}

.heat-3 { 
    background-color: #a855f7;
    color: white;
    border: 2px solid white;
    border-radius: 20px; 
}

.heat-4 { 
    background-color: #8B5CF6;
    color: white;
    border: 2px solid white;
    border-radius: 20px; 
}
